body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 -15px;
}

header {
  height: 967px;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

header div.menu {
  height: 134px;
  background: rgba(0, 0, 0, .4);
}

header div.menu a img {
  display: block;
  padding-top: 50px;
  padding-left: 100px;
}

.nav-menu {
  list-style-type: none;
  padding-right: 50px;
  margin: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #39b9ef;
  text-decoration: underline;
}

header div.call-to h1 {
  margin-top:  250px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-weight: bold;
}

.span-blue {
  color: #2ebaee;
}

header div.call-to p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.btn {
  display: block;
  width: 215px;
  height: 50px;
  background: #2ebaee;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  border-radius: 23px;
  text-decoration: none;
}

.btn:hover {
  color: #2ebaee;
  background: #fff;
  box-shadow: 0 0 5px #2ebaee;
}

.bg {
  background-image: url(../img/bg-main3.png);
  background-repeat: no-repeat;
  background-position: 30%;
  padding-bottom: 145px;
}

.our-services h2 {
  color: #242424;
  font-size: 48px;
  text-align: center;
  margin-top: 70px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 80px;
}

.services div {
  padding-top: 60px;
}

.services div img {
  display: block;
  height: 78px;
  margin-bottom: 50px;
}

.services div h3 {
  color: #242424;
  font-size: 24px;
  margin-bottom: 34px;
}

.services p, .services-2 p {
  color: #878787;
  font-size: 14px;
  line-height: 24px;
  max-width: 520px;
}

.button {
  padding-top: 70px;
}

.services-2 {
  margin-top: 180px;
}

.services-2 h3 {
  color: #242424;
  font-size: 35px;
}

.services-2 a {
  margin-left: 0;
  margin-top: 50px;
}

.services-2 img {
  width: 100%;
}
.services-2 .right-block {
  padding-left: 100px;
  max-width: 520px;
}

.white-style p, .white-style h3 {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #2ebaee;
}

.btn-white:hover {
  color: #fff;
  background: #2ebaee;
  box-shadow: 0 0 5px #fff;
}

.man {
  height: 520px;
}

.man img {
  width: 100%;
}

.man h3 {
  font-size: 72px;
  color: #000;
  max-width: 600px;
  padding-left: 80px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.man p {
  color: #878787;
  font-size: 16px;
  max-width: 600px;
  padding-left: 80px;
  padding-bottom: 20px;
}

.btn-man {
  margin-left: 75px;

}

.tile {
  height: 430px;
  background:;
}

.block-1 {
  background-image: url(../img/ico7.png);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

.block-2 {
  background-image: url(../img/ico8.png);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

.block-3 {
  background-image: url(../img/ico9.png);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

.block-4 {
  background-image: url(../img/ico10.png);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

.tile h4{
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 140px 65px 0 65px;
}

.tile h4:hover {
  background: rgba(49, 155, 195, 0.6);
}

.our-team {
  height: 855px;
}

.our-team h2 {
  font-size: 72px;
  margin-top: 100px;
}

.our-team img {
  display: block;
  margin: 0 auto;
  width: 234px;
  height: 234px;
  margin-top: 40px;
}

.our-team .name {
  color: #242424;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 33px;
}

.our-team .awesome span {
  display: block;
  text-align: center;
  font-size: center;
  font-size: 14px;
  color: #878787;
  margin-top: 15px;
  margin-bottom: 30px;
}